html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.App-header {
  background-color: #282c34;
  padding: 1rem;
  color: white;
  z-index: 5;
}

.App-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

main {
  flex: 1;
  position: relative;
  height: calc(100% - 60px);
  padding: 20px;
}
